<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="icon" href="@Url.Content("~/Content/icon-apistudyapp.ico")">

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/custom")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top nav-opacity">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("APIStudyApp", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Hem", "Index", "Home", new { area = "" }, null)</li>
                    <li>

                        <a href="Facit" class="dropdown-toggle" data-toggle="dropdown">Facit <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-submenu">

                                @Html.ActionLink("Ajax med Texter", "AjaxTextFacit", "Home", new { area = "" }, htmlAttributes: new { @class = "dropdown-toggle", data_toggle = "dropdown" })
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Lösning 1", "AjaxTextFacit", "Home", null, null, "link1", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("Lösning 2", "AjaxTextFacit", "Home", null, null, "link2", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("Lösning 3", "AjaxTextFacit", "Home", null, null, "link3", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("Lösning 4", "AjaxTextFacit", "Home", null, null, "link4", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("Lösning 5", "AjaxTextFacit", "Home", null, null, "link5", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("Lösning 6", "AjaxTextFacit", "Home", null, null, "link6", new { area = "" }, null)</li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                @Html.ActionLink("Ajax med JSON", "AjaxJsonFacit", "Home", new { area = "" }, htmlAttributes: new { @class = "dropdown-toggle", data_toggle = "dropdown" })
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Lösning 1", "AjaxJsonFacit", "Home", null, null, "link1", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("Lösning 2", "AjaxJsonFacit", "Home", null, null, "link2", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("Lösning 2 - Utmaning", "AjaxJsonFacit", "Home", null, null, "link3", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("Lösning 3", "AjaxJsonFacit", "Home", null, null, "link4", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("Lösning 4", "AjaxJsonFacit", "Home", null, null, "link5", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("Lösning 5", "AjaxJsonFacit", "Home", null, null, "link6", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("Lösning 6", "AjaxJsonFacit", "Home", null, null, "link7", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("Lösning 7", "AjaxJsonFacit", "Home", null, null, "link8", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("Lösning 8", "AjaxJsonFacit", "Home", null, null, "link9", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("Lösning 9", "AjaxJsonFacit", "Home", null, null, "link10", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("Lösning 10", "AjaxJsonFacit", "Home", null, null, "link11", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("Lösning 11", "AjaxJsonFacit", "Home", null, null, "link12", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("Lösning 12", "AjaxJsonFacit", "Home", null, null, "link13", new { area = "" }, null)</li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="AjaxText" class="dropdown-toggle" data-toggle="dropdown">Övningar <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-submenu">

                                @Html.ActionLink("Text Övningar", "Index", "AjaxText", new { area = "" }, htmlAttributes: new { @class = "dropdown-toggle", data_toggle = "dropdown" })
                                <ul class="dropdown-menu">
                                    <li> @Html.ActionLink("Övning 1", "Example_1", "AjaxText", new { area = "" }, null)</li>
                                    <li> @Html.ActionLink("Övning 2", "Example_2", "AjaxText", new { area = "" }, null)</li>
                                    <li> @Html.ActionLink("Övning 3", "Example_3", "AjaxText", new { area = "" }, null)</li>
                                    <li> @Html.ActionLink("Övning 4", "Example_4", "AjaxText", new { area = "" }, null)</li>
                                    <li> @Html.ActionLink("Övning 5", "Example_5", "AjaxText", new { area = "" }, null)</li>
                                    <li> @Html.ActionLink("Övning 6", "Example_6", "AjaxText", new { area = "" }, null)</li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                @Html.ActionLink("JSON Övningar", "Index", "AjaxJson", new { area = "" }, htmlAttributes: new { @class = "dropdown-toggle", data_toggle = "dropdown" })
                                <ul class="dropdown-menu">
                                    <li> @Html.ActionLink("Övning 1", "Example_1", "AjaxJson", new { area = "" }, null)</li>
                                    <li> @Html.ActionLink("Övning 2", "Example_2", "AjaxJson", new { area = "" }, null)</li>
                                    <li> @Html.ActionLink("Övning 3", "Example_3", "AjaxJson", new { area = "" }, null)</li>
                                    <li> @Html.ActionLink("Övning 4", "Example_4", "AjaxJson", new { area = "" }, null)</li>
                                    <li> @Html.ActionLink("Övning 5", "Example_5", "AjaxJson", new { area = "" }, null)</li>
                                    <li> @Html.ActionLink("Övning 6", "Example_6", "AjaxJson", new { area = "" }, null)</li>
                                    <li> @Html.ActionLink("Övning 7", "Example_7", "AjaxJson", new { area = "" }, null)</li>
                                    <li> @Html.ActionLink("Övning 8", "Example_8", "AjaxJson", new { area = "" }, null)</li>
                                    <li> @Html.ActionLink("Övning 9", "Example_9", "AjaxJson", new { area = "" }, null)</li>
                                    <li> @Html.ActionLink("Övning 10", "ComingSoon", "Home", new { area = "" }, null)</li>
                                    <li> @Html.ActionLink("Övning 11", "Example_11", "AjaxJson", new { area = "" }, null)</li>
                                    <li> @Html.ActionLink("Övning 12", "Example_12", "AjaxJson", new { area = "" }, null)</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - APIStudyApp</p>
        </footer>
    </div>
    <script>
        (function ($) {
            $(document).ready(function () {
                $('ul.dropdown-menu [data-toggle=dropdown]').on('mouseover', function (event) {
                    event.preventDefault();
                    event.stopPropagation();
                    $(this).parent().siblings().removeClass('open');
                    $(this).parent().toggleClass('open');
                });
            });
        })(jQuery);
    </script>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
